#!/bin/sh

export CHGRES=NO
echo $IC_DIR

if [ ! -e $IC_DIR/IDVT$IDVT/L$LEVS/CASE_$CASE/sfc_data.tile6.nc ] ; then # should maybe actually do a check for tref?
	if [ -e $IC_DIR/gfnanl.gdas.$CDATE ] ; then
		export CHGRES=NEMSIO
	elif [ -e $IC_DIR/siganl.gdas.$CDATE ] ; then
		export CHGRES=SIGIO
	else
		echo "No ICs found!"
		exit
	fi
fi

if [ $CHGRES != 'NO' ] ; then
	export CRES=`echo $CASE | cut -c 2-`
	export CHGRESEXEC=${CHGRESEXEC:-$GLOBAL_WORKFLOW_DIR/exec/global_chgres}
	if [ $CHGRES = 'NEMSIO' ] ; then
		export nemsio_get=/work/noaa/swpc/akubaryk/util/exec/nemsio_get
		export ATMANL=$IC_DIR/gfnanl.gdas.$CDATE
		export SFCANL=$IC_DIR/sfnanl.gdas.$CDATE
		export NSTANL=$IC_DIR/nsnanl.gdas.$CDATE
		export ATMJCAP=`$nemsio_get $ATMANL jcap | tr -s ' ' | cut -d' ' -f 3`
		export ATMNLON=`$nemsio_get $ATMANL dimx | tr -s ' ' | cut -d' ' -f 3`
		export ATMNLAT=`$nemsio_get $ATMANL dimy | tr -s ' ' | cut -d' ' -f 3`
		export nst_anl=.true.
		# to use new albedo, soil/veg type
		export IALB=1
		export SOILTYPE_INP=statsgo
		export SOILTYPE_OUT=statsgo
		export FNVETC=$FIX_AM/global_vegtype.igbp.t${ATMJCAP}.${ATMNLON}.${ATMNLAT}.rg.grb
		export FNSMCC=$FIX_AM/global_soilmgldas.t${ATMJCAP}.${ATMNLON}.${ATMNLAT}.grb
		export FNSOTC=$FIX_AM/global_soiltype.statsgo.t${ATMJCAP}.${ATMNLON}.${ATMNLAT}.rg.grb
		export FNABSC=$FIX_AM/global_mxsnoalb.uariz.t${ATMJCAP}.${ATMNLON}.${ATMNLAT}.rg.grb
		export FNALBC=$FIX_AM/global_snowfree_albedo.bosu.t${ATMJCAP}.${ATMNLON}.${ATMNLAT}.rg.grb
		export VEGTYPE_INP=igbp
		export VEGTYPE_OUT=igbp
		# needed for facsf and facwf
		export FNALBC2=$FIX_AM/global_albedo4.1x1.grb
		export FNZORC=igbp
		export nopdpvv=.true.
	else # SIGIO
		export ATMANL=$IC_DIR/siganl.gdas.$CDATE
		export SFCANL=$IC_DIR/sfcanl.gdas.$CDATE
		export nst_anl=.false.
		# albedo, soil/veg
		export SOILTYPE_INP=zobler
		export SOILTYPE_OUT=zobler
		export VEGTYPE_INP=sib
		export VEGTYPE_OUT=sib
		export FNZORC=sib
		export nopdpvv=.false.
		# resolution settings
		export LONB_SFC=$CRES
		export LATB_SFC=$CRES
		export LONB_ATM=$((CRES*4))
		export LATB_ATM=$((CRES*2))
		if [ $CRES -gt 768 ]; then
			export LONB_ATM=3072
			export LATB_ATM=1536
		fi
	fi
fi
