#!/bin/sh

# task configuration
export nth_f=${nth_f:-2}                    # number of threads
export npe_node_f=${npe_node_f:-40}         # number of pes per node
export task_per_node=$((npe_node_f/nth_f))

export quilting=${quilting:-".true."}
[[ $quilting = ".true." ]] && \
   export write_groups=${write_groups:-1} && \
   export write_tasks_per_group=${write_tasks_per_group:-1}

export tasks=$((layout_x*layout_y*6+$write_groups*$write_tasks_per_group)) # number of tasks
export NTHREADS_REMAP=$nth_f
export WALLCLOCK=${WALLCLOCK:-00:30:00}

# model configuration
if [ ${HYPT} = on ]; then
   export hyperthread=".true."
   export j_opt="-j 2"
else
   export hyperthread=".false."
   export j_opt="-j 1"
fi
export FCSTEXEC=${FCSTEXEC:-fv3_gfs_${TYPE}.${COMP}.${MODE}.${COMPILER:-"intel"}.x}

# APRUN/launcher
export FCST_LAUNCHER=${FCST_LAUNCHER:-"srun"}

# MPI/OMP
export MPI_TYPE_DEPTH=${MPI_TYPE_DEPTH:-20}
export OMP_STACKSIZE=${OMP_STACKSIZE:-512M}
export OMP_NUM_THREADS=${OMP_NUM_THREADS:-$nth_f}

# ESMF
export ESMF_RUNTIME_COMPLIANCECHECK=${ESMF_RUNTIME_COMPLIANCECHECK:-"OFF:depth=4"}

