#!/bin/bash
## DEFAULTS FOR COMMON OPTIONS IN exp.config
export machine=${machine:-theia}
# ---- hera
 export ACCT_SCRATCH=${ACCT_SCRATCH:-scratch1}
export ACCT_PBS=${ACCT_PBS:$ACCT}
export QUEUE=${QUEUE:-debug}
export PSLOT=${PSLOT:-fv3gfs}
export CASE=${CASE:-C96}         # cubed-sphere resolution, C96 currently only tested
export FHMAX=${FHMAX:-168}
export FHOUT=${FHOUT:-1}
export LEVS=${LEVS:-64}
# ---- orion
#export IC_DIR=${IC_DIR:-/work/noaa/$LOGNAME/ICS/fv3/$CDATE}
#export BASEDIR=${BASEDIR:-/work/noaa/swpc/akubaryk/fv3}
#export HOMEgfs=${HOMEgfs:-/work/noaa/swpc/akubaryk/fv3}
#export GLOBAL_WORKFLOW_DIR=${GLOBAL_WORKFLOW_DIR:-/work/noaa/swpc/akubaryk/global-workflow}
# ---- hera
 export IC_DIR=${IC_DIR:-/$ACCT_SCRATCH/NCEPDEV/$ACCT/noscrub/$LOGNAME/ICS/fv3/fv3test/$CDATE}
 export BASEDIR=${BASEDIR:-/scratch1/NCEPDEV/swpc/Adam.Kubaryk/fv3/fv3test}
 export HOMEgfs=${HOMEgfs:-/scratch1/NCEPDEV/swpc/Adam.Kubaryk/fv3}
 export GLOBAL_WORKFLOW_DIR=${GLOBAL_WORKFLOW_DIR:-/scratch1/NCEPDEV/swpc/Adam.Kubaryk/global-workflow}
export MODE=${MODE:-32bit}
export TYPE=${TYPE:-hydro}
export HYPT=${HYPT:-off}
export COMP=${COMP:-prod}
export mpiexec=${mpixece:-`which mpirun`}
export REMAP=${REMAP:-YES}
export KEEPDATA=${KEEPDATA:-YES}
# --- orion
#export NDATE=${NDATE:-/work/noaa/swpc/akubaryk/util/exec/ndate}

