#!/bin/sh

# ---- orion
#export PTMP=${PTMP:-/work/noaa/stmp/$USER/ROTDIRS}
#export STMP=${STMP:-/work/noaa/stmp/$USER/RUNDIRS}
# ---- hera
 export PTMP=${PTMP:-/scratch1/NCEPDEV/stmp2/$LOGNAME}
 export STMP=${STMP:-/scratch1/NCEPDEV/stmp4/$LOGNAME}
mkdir -p $PTMP
mkdir -p $STMP
## experiment folders
export ROTDIR=${ROTDIR:-$PTMP/${CASE}${PSLOT}${CDATE}} # where model input and output will be copied from and saved
export DATA=${DATA:-$STMP/${CASE}${PSLOT}${CDATE}}   # RUNDIR where model files will be copied/linked
if [ -d $DATA ] && [ ${OLDDATA:-"NO"} = "YES" ]; then rm -rf $DATA ; fi     # empty DATA if it exists
## model folders
export FIX_DIR=${FIX_DIR:-$HOMEgfs/fix}
export HOMEglobal=${HOMEglobal:-$FIX_DIR}
## sub folders
export RELEASEDIR=${RELEASEDIR:-$BASEDIR/release/v0} # NEMS release dir
export FCSTSHDIR=${FCSTSHDIR:-$RELEASEDIR/scripts}   # location of exglobal script(s)
export FCSTEXECDIR=${FCSTEXECDIR:-$BASEDIR/NEMS/exe} # NEMS executable directory
export FIX_AM=${FIX_AM:-$FIX_DIR/fix_am}
export FIX_FV3=${FIX_FV3:-$FIX_DIR/fix_fv3}
## utility folders
export NWPROD=${NWPROD:-/scratch2/NCEPDEV/global/glopara/nwpara}

