#!/bin/sh

ymd=`echo $CDATE |cut -c 1-8`
cyc=`echo $CDATE |cut -c 9-10`
export DATA=${DATA:-$ROTDIR/gfs.$ymd/$cyc}
export IPD4=${IPD4:-YES}
export REMAPSH=${REMAPSH:-$GLOBAL_WORKFLOW_DIR/ush/fv3gfs_remap.sh} #remap 6-tile output to global array in netcdf
export REMAPEXE=${REMAPEXE:-$GLOBAL_WORKFLOW_DIR/exec/fregrid_parallel}
export REMAP_LAUNCHER=${REMAP_LAUNCHER:-"$mpiexec -prepend-rank -np $REMAP_TASKS"}

