#!/bin/sh

## scripts
export FCSTSH=${FCSTSH:-$FCSTSHDIR/exglobal_fcst_nemsfv3gfs.sh}
export PARM_FV3DIAG=${PARM_FV3DIAG:-$RELEASEDIR/parm/parm_fv3diag}
export CHGRESWRAPPER=${CHGRESWRAPPER:-$GLOBAL_WORKFLOW_DIR/ush/global_chgres_driver.sh}
export CHGRESSH=${CHGRESSH:-$GLOBAL_WORKFLOW_DIR/ush/global_chgres.sh}
